body{
    background-color: black;
}
.time{
    color: white;
    font-size: 5rem;
    margin: 15% auto;
    text-align: center;
}
.content{
    color: white;
}
.date{
    font-size: 2rem;
}
p{
    margin: 0;
}
p.author{
    color:ghostwhite;
    font-family: cursive;
    text-align: right;
    font-size: 1rem;
    padding: 2rem;
}